<h1>Make a Vendor Sweet</h1>
<%= form_for @vendorsweet do |f| %>
<%= f.label :price  %>
<%= f.text_field :price  %>
<%= f.collection_select(:sweet_id, Sweet.all, :id, :name) %>
<%= f.collection_select(:vendor_id, Vendor.all, :id, :name) %>
<%= f.submit %>
<% end %>
